@import "reset";
@import "slick";
@import "aos";

@font-face {
  font-family: "Ikra Slab";
  src: url("../fonts/IkraSlab.eot");
  src: url("../fonts/IkraSlab.eot?#iefix") format("embedded-opentype"),
    url("../fonts/IkraSlab.woff2") format("woff2"),
    url("../fonts/IkraSlab.woff") format("woff"),
    url("../fonts/IkraSlab.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --text-color: #000000;
  --placeholder-color: #adadad;
  --background-color: #ffffff;
  --primary-color: #db00ff;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font: 400 24px/1.25 "Ikra Slab", sans-serif;
  min-height: 280px;
  padding-top: 35px;
  margin-top: 86px;
  margin-bottom: 22px;
  text-align: center;
  background: url("../images/header-bg.svg") top center no-repeat;
  background-size: 375px;

  @media (min-width: 768px) {
    min-height: 364px;
    padding-top: 80px;
    margin-top: 120px;
    margin-bottom: 140px;
    font-size: 44px;
    background-size: contain;
  }

  @media (min-width: 1024px) {
    margin-top: 58px;
  }

  @media (min-width: 1440px) {
    min-height: 364px;
    font-size: 64px;
    padding-top: 168px;
    margin-top: 0;
    margin-bottom: 34px;
  }
}

h2 {
  font: 400 20px/1.3 "Ikra Slab", sans-serif;
  padding-left: 0;
  margin-bottom: 18px;

  @media (max-width: 767px) {
    max-width: 200px;
    margin-bottom: 36px;
  }

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 1.4;
    padding-left: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 42px;
    padding-left: 22px;
    margin-bottom: 36px;
  }
}

.wrapper {
  max-width: 720px;
  padding: 40px 15px 0;
  margin: auto;
  overflow-x: hidden;

  @media (min-width: 768px) {
    padding-bottom: 40px;
  }

  @media (min-width: 1024px) {
    max-width: 994px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}

header {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-top: 1px solid var(--text-color);
  background-color: var(--background-color);

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid #000;
    z-index: 0;
  }
}

.logo {
  position: relative;

  @media (min-width: 768px) {
    padding: 5px 0 0 20px;
  }

  @media (min-width: 1024px) {
    padding-left: 50px;
  }

  &:before {
    content: "";
    display: block;
    width: 123px;
    height: 35px;
    position: absolute;
    left: -14px;
    top: 0;
    background: url("../images/logo-bg.png") center center no-repeat;
    background-size: contain;
    z-index: 0;

    @media (min-width: 768px) {
      width: 292px;
      height: 78px;
      left: -28px;
      top: -12px;
    }

    @media (min-width: 1024px) {
      left: 10px;
    }
  }

  img {
    position: relative;
    max-width: 105px;
    z-index: 1;

    @media (min-width: 768px) {
      max-width: 220px;
    }

    @media (min-width: 1024px) {
      max-width: none;
    }
  }
}

.menu-button-block {
  display: block;
  text-align: right;

  @media (min-width: 1024px) {
    display: none;
  }
}

.menu-button {
  border: none;
  padding: 5px 0;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: 768px) {
    padding: 8px 0;
    margin-right: 10px;
  }

  svg {
    @media (min-width: 768px) {
      width: 80px;
      height: 27px;
    }
  }
}

.navbar {
  display: none;

  @media (max-width: 1023px) {
    background-color: var(--background-color);
    z-index: 2;
  }

  @media (min-width: 1024px) {
    display: block;
  }
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  padding: 0;

  @media (min-width: 768px) {
    gap: 20px;
  }

  li {
    position: relative;
    list-style: none;

    a {
      display: block;
      font-size: 12px;
      line-height: 15px;
      text-decoration: none;
      color: var(--primary-color);
      padding: 6px 10px;
      transition: color 0.2s ease-in-out;

      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 19px;
        padding: 12px;
      }

      @media (min-width: 1024px) {
        color: var(--text-color);
      }

      &:hover,
      &:active,
      &:focus {
        color: var(--primary-color);
      }
    }

    &:before {
      content: "";
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &.current:before {
      @media (max-width: 1023px) {
        display: block;
        position: absolute;
        top: -8px;
        left: -17px;
        width: 120px;
        height: 60px;
        background: url("../images/circle.png") center center no-repeat;
        background-size: contain;
        opacity: 1;
        z-index: -2;
      }

      @media (max-width: 767px) {
        top: -5px;
        left: -8px;
        width: 88px;
        height: 38px;
      }
    }
  }
}

.date {
  font: 900 14px/17px "Inter", sans-serif;
  color: var(--primary-color);
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 29px;
    top: -40px;
  }

  @media (min-width: 1024px) {
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    padding-right: 37px;
  }

  &-header {
    @media (max-width: 1023px) {
      display: none;
    }
  }

  &-content {
    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.form {
  position: relative;
  display: grid;
  justify-content: center;
  gap: 10px;
  margin: auto;
  text-align: center;
  z-index: 1;

  @media (min-width: 1024px) {
    grid-template-columns: minmax(435px, auto) minmax(295px, auto);
  }

  .notice {
    display: block;
    font-size: 12px;
    line-height: 1.25;
    color: var(--text-color);
    opacity: 0.7;
    margin-bottom: 15px;
    text-align: center;

    @media (min-width: 1024px) {
      text-align: left;
    }
  }
}

.intro .form-small {
  margin-top: -132px;

  @media (min-width: 768px) {
    margin-top: -177px;
  }
}

.form-small {
  display: none;
  max-width: 280px;

  @media (min-width: 768px) {
    max-width: 360px;
  }
}

.form-large {
  display: none;

  @media (min-width: 1024px) {
    display: grid;
  }
}

.input {
  font-size: 12.5px;
  line-height: 1.25;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 0;

  @media (min-width: 768px) {
    font-size: 18px;
    padding: 18px 19px;
    max-width: 435px;
  }

  @media (min-width: 1024px) {
    margin: 0;
  }

  &::placeholder {
    color: var(--placeholder-color);
  }

  &.invalid {
    border: 1px dashed red;
  }
}

.submit,
.show-form {
  width: 100%;
  max-width: 280px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  min-height: 41px;
  padding: 0;
  margin: 16px auto 14px;
  border: none;
  color: var(--background-color);
  background-color: var(--primary-color);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 18px;
    max-width: 360px;
    min-height: 60px;
  }

  @media (min-width: 1024px) {
    max-width: none;
    margin: auto;
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--primary-color);
    background: var(--text-color);
  }
}

.show-form {
  display: block;

  @media (min-width: 1024px) {
    display: none;
  }
}

.submitted .submit,
.success {
  padding: 0 0 0 15px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: var(--background-color) url(../images/checked.png) left 60px
    center no-repeat;
  background-size: 20px auto;

  @media (min-width: 768px) {
    background-position: left 40px center;
    background-size: auto;
  }

  @media (min-width: 1024px) {
    background-position: left 15px center;
  }
}

.intro-decoration {
  position: relative;
}

.intro-decoration svg {
  position: absolute;
  width: 624px;
  height: 354px;
  top: -304px;
  left: 50%;
  transform: translateX(-30%);
  max-width: none;

  @media (min-width: 768px) {
    width: 915px;
    height: auto;
    top: -450px;
  }

  @media (min-width: 1440px) {
    width: 1080px;
    height: 593px;
    position: absolute;
    right: -590px;
    left: initial;
    transform: none;
    top: -355px;
    margin: 0;
  }
}

ul {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.25;
  padding: 0;
  text-align: left;

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

.decorated {
  position: relative;
  white-space: nowrap;

  @media (max-width: 1023px) {
    white-space: normal;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;

    @media (max-width: 1023px) {
      display: none;
    }
  }
}

.arrow:before {
  top: -2px;
  left: -6px;
  width: 77px;
  height: 29px;
  background: url("../images/arrow.png") center center no-repeat;
  background-size: contain;

  @media (min-width: 1280px) {
    top: 2px;
    left: -10px;
    width: 91px;
    height: 31px;
  }
}

.circle:before {
  top: -18px;
  left: -25px;
  width: 120px;
  height: 60px;
  background: url("../images/circle.png") center center no-repeat;
  background-size: contain;

  @media (min-width: 1024px) {
    top: -12px;
    left: -16px;
    width: 105px;
    height: 44px;
  }
}

.rules {
  max-width: 283px;
  margin: auto;

  @media (min-width: 1024px) {
    max-width: none;
  }

  h2 {
    position: relative;
    display: inline-block;

    &:before {
      content: "";
      display: block;
      width: 246px;
      height: 229px;
      position: absolute;
      left: -75px;
      top: -82px;
      background: url("../images/title-bg.jpg") center center no-repeat;
      background-size: contain;
      z-index: -1;

      @media (max-width: 767px) {
        width: 234px;
        height: 95px;
        left: -25px;
        top: -39px;
        background: url("../images/title-bg.jpg") top left no-repeat,
          url("../images/title-bg-2.png") bottom right no-repeat;
        background-size: 97px 87px, auto;
      }

      @media (min-width: 1024px) {
        width: 291px;
        height: 261px;
      }
    }
  }

  ul {
    position: relative;
    list-style: none;

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 88px repeat(3, auto);
      grid-template-rows: auto auto 450px auto auto;
      grid-template-areas:
        ". rule5 rule5 rule2"
        ". . rule8 rule1"
        "image image image image"
        ". . . rule3"
        "rule7 rule7 rule6 rule4";
      gap: 17px 9px;
    }

    @media (min-width: 1280px) {
      max-width: none;
      grid-template-rows: auto auto 575px auto auto;
    }

    .frame-decoration {
      position: absolute;
      max-width: none;
      transition: stroke 0.2s ease-in-out;
      z-index: -1;

      @media (max-width: 1023px) {
        display: none;
      }
    }

    .rule {
      position: absolute;
      left: 0;
      right: 0;

      @media (min-width: 1024px) {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 142px;
        border: 1px solid var(--text-color);
        transition: border-color 0.2s ease-in-out;
      }

      @media (min-width: 1280px) {
        min-height: 164px;
      }

      .rule-text {
        padding: 15px 12px;

        @media (max-width: 1023px) {
          width: 204px;
          font-size: 10px;
          line-height: 1.25;
          padding: 10px 18px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          display: none;
          background-color: var(--primary-color);
          color: var(--background-color);
          z-index: 2;
        }

        @media (min-width: 1280px) {
          padding: 25px 15px;
        }
      }

      &:hover {
        border-color: var(--primary-color);

        svg {
          stroke: var(--primary-color);
        }
      }
    }

    .rule-1 {
      top: 8px;

      @media (min-width: 1024px) {
        top: 0;
        grid-area: rule1;
      }

      .frame-decoration {
        left: 50%;
        bottom: 0;
        transform: translate(-62px, 180px);

        @media (min-width: 1280px) {
          transform: translate(-77px, 209px);
        }
      }
    }

    .rule-2 {
      top: 108px;

      @media (min-width: 1024px) {
        top: initial;
        grid-area: rule2;
      }
    }

    .rule-3 {
      top: 359px;

      @media (min-width: 1024px) {
        top: initial;
        grid-area: rule3;
        margin-bottom: 53px;
      }

      .frame-decoration {
        top: initial;
        left: 50%;
        transform: translate(-37px, -152px);

        @media (min-width: 1280px) {
          transform: translate(-37px, -164px);
        }
      }
    }

    .rule-4 {
      top: 407px;

      @media (min-width: 1024px) {
        top: initial;
        grid-area: rule4;
      }

      .frame-decoration {
        bottom: 0;
        left: 50%;
        transform: translate(-56px, 180px);

        @media (min-width: 1280px) {
          transform: translate(-77px, 209px);
        }
      }
      .frame-decoration {
        left: 50%;
        top: 0;
        transform: translate(-395px, -320px);
      }
    }

    .rule-5 {
      bottom: 350px;

      @media (min-width: 1024px) {
        bottom: initial;
        grid-area: rule5;
      }

      .frame-decoration {
        top: 50%;
        left: 0;
        transform: translate(-92px, 0);
      }
    }

    .rule-6 {
      bottom: 101px;

      @media (min-width: 1024px) {
        bottom: initial;
        grid-area: rule6;
      }

      .frame-decoration {
        left: 50%;
        top: 0;
        transform: translate(-128px, -242px);

        @media (min-width: 1280px) {
          transform: translate(-135px, -285px);
        }
      }
    }

    .rule-7 {
      bottom: -25px;

      @media (min-width: 1024px) {
        bottom: initial;
        grid-area: rule7;
      }

      .frame-decoration {
        left: 50%;
        top: 0;

        transform: translate(-91px, -173px);

        @media (min-width: 1280px) {
          transform: translate(-136px, -218px);
        }
      }
    }

    .rule-8 {
      bottom: -70px;

      @media (min-width: 1024px) {
        bottom: initial;
        grid-area: rule8;
      }

      .frame-decoration {
        top: 50%;
        left: 0;
        transform: translate(-115px, 0);
      }
    }

    .platform {
      position: relative;
      grid-area: image;
      padding-top: 20px;

      @media (min-width: 1280px) {
        padding-top: 30px;
      }

      .platform-image {
        position: relative;
        z-index: -2;

        @media (min-width: 1280px) {
          max-width: 1239px;
          margin-left: -12px;
        }
      }

      .platform-image-small {
        width: 283px;
        margin: 50px auto 450px;
      }
    }
  }
}

.show-rule {
  position: absolute;
  left: 50%;
  width: 38px;
  height: 40px;
  padding: 0;
  margin: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  color: var(--background-color);
  transform: translateX(-50%);
  border: none;
  background-color: var(--primary-color);
  text-align: center;
  z-index: 1;

  @media (min-width: 1024px) {
    display: none;
  }

  .line {
    position: absolute;
    left: 14.5px;
    max-width: none;
    z-index: -1;

    &-top {
      top: -28px;
    }

    &-bottom {
      top: 39px;
    }
  }

  &-2 {
    .line {
      top: 5px;
      left: -40px;
    }
  }

  &-3 {
    transform: translateX(-97px);
  }

  &-4 {
    transform: translateX(53px);

    .line {
      top: 39px;
      left: 14.5px;
    }
  }

  &-5 {
    .line {
      top: -27px;
    }
  }

  &-6 {
    transform: translateX(53px);

    .line {
      top: 17px;
      left: -28px;
    }
  }

  &-7 {
    transform: translateX(-97px);
  }

  &-8 {
    transform: translateX(53px);
  }
}

.icons {
  width: 160px;
  height: 67px;
  position: absolute;
  top: 84px;
  right: -20px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
  align-items: start;
  background: url("../images/line.png") bottom center no-repeat;
  background-size: contain;
  z-index: 2;

  @media (max-width: 1023px) {
    width: 280px;
    height: 58px;
    top: 263px;
    right: 50%;
    gap: 10px;
    transform: translateX(50%);
    background-size: 120px auto;
  }

  @media (min-width: 1024px) {
    top: 15px;
  }

  @media (min-width: 1280px) {
    top: 68px;
  }

  button {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;

    .icon {
      rect {
        transition: all 0.2s ease-in-out;
      }

      &:hover,
      &:active,
      &:focus {
        rect {
          fill: var(--text-color);
        }
      }
    }
  }

  .line {
    max-width: none;
    position: absolute;
    top: -47px;
    left: -173px;
  }
}

.girl1 {
  position: absolute;
  top: -230px;
  left: -10px;
  max-width: 237px;

  @media (min-width: 1024px) {
    top: -430px;
    left: 40px;
    max-width: 320px;
  }

  @media (min-width: 1280px) {
    max-width: none;
    top: -515px;
    left: 35px;
  }
}

.girl2 {
  position: absolute;
  max-width: 131px;
  top: 100px;
  right: -30px;
  z-index: 1;

  @media (min-width: 1024px) {
    max-width: none;
    top: 70px;
    right: -15px;
  }

  @media (min-width: 1280px) {
    max-width: none;
    top: 128px;
    right: 54px;
  }
}

.gorodki {
  width: 339px;
  position: absolute;
  z-index: 0;

  @media (min-width: 1024px) {
    width: 400px;
  }

  @media (min-width: 1280px) {
    width: 500px;
  }

  svg {
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
  }

  &-left {
    top: 70px;
    right: -64px;

    @media (min-width: 1024px) {
      top: -10px;
      right: 8px;
    }

    @media (min-width: 1280px) {
      top: 0;
      right: 42px;
    }
  }

  &-right {
    top: 68px;
    right: -63px;

    @media (min-width: 1024px) {
      top: 70px;
      right: 4px;
    }

    @media (min-width: 1280px) {
      top: 100px;
      right: 35px;
    }
  }
}

.winner {
  position: absolute;
  left: -30px;
  bottom: -490px;
  width: 368px;

  @media (min-width: 1024px) {
    transform: none;
    top: -250px;
    left: -90px;
    bottom: initial;
    max-width: none;
    width: 442px;
    height: auto;
  }

  @media (min-width: 1280px) {
    top: -250px;
    left: -82px;
    width: 520px;
  }

  svg {
    width: 100%;
  }
}

.page-section {
  position: relative;
  margin-bottom: 50px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 80px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 120px;
    text-align: left;
  }
}

.facts {
  h2 {
    position: relative;
    display: inline-block;
    margin-top: 30px;

    @media (min-width: 1024px) {
      margin-top: 0;
    }

    &:before {
      content: "";
      position: absolute;
      top: -63px;
      right: -103px;
      width: 148px;
      height: 172px;
      background: url("../images/facts-bg.png") center center no-repeat;
      background-size: contain;
      z-index: -1;

      @media (min-width: 1024px) {
        top: -80px;
        right: -120px;
        width: 177px;
        height: 224px;
      }

      @media (max-width: 640px) {
        top: -33px;
        right: -35px;
        width: 80px;
        height: 111px;
      }
    }
  }

  .slick-slider .slick-track {
    @media (min-width: 1024px) {
      gap: 18px;
    }
  }

  .facts-slider {
    @media (min-width: 1024px) {
      display: flex;
      gap: 18px;
    }

    .fact {
      padding: 30px 20px 40px;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 1.25;
      border: 1px solid var(--text-color);
      box-shadow: 6px 3px 0 var(--primary-color);
      background-color: var(--background-color);
      text-align: left;
      transition: border-color 0.2s ease-in-out;

      @media (max-width: 1023px) {
        max-width: 300px;
        margin-right: 11px;
      }

      @media (min-width: 1024px) {
        flex-basis: 32%;
        font-size: 15px;
        box-shadow: 10px 4px 0 var(--primary-color);
      }

      @media (min-width: 1440px) {
        font-size: 18px;
        padding: 46px 30px 58px;
      }

      &:last-of-type {
        background: var(--background-color) url("../images/last-fact-bg.png")
          top 180px right 20px no-repeat;

        @media (max-width: 640px) {
          background-position: bottom -20px right;
        }
      }
    }

    .fact-title {
      font-weight: 900;
      font-size: 18px;
      line-height: 1.25;
      margin-bottom: 12px;

      @media (min-width: 1024px) {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.inner-wrapper {
  position: relative;
  max-width: 1082px;
  margin: auto;
}

.stay-in-touch {
  h2 {
    position: relative;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 18px;

    @media (min-width: 768px) {
    }

    @media (min-width: 1024px) {
      margin-bottom: 45px;
    }

    @media (max-width: 640px) {
      max-width: 200px;
    }

    &:before {
      content: "";
      position: absolute;
      top: -40px;
      right: -55px;
      width: 120px;
      height: 120px;
      background: url("../images/stay-in-touch-bg.png") center center no-repeat;
      background-size: contain;
      z-index: -1;

      @media (min-width: 1024px) {
        top: -50px;
        right: -65px;
        width: 149px;
        height: 149px;
      }

      @media (max-width: 640px) {
        top: -26px;
        right: -13px;
        width: 80px;
        height: 80px;
      }
    }
  }

  .inner-wrapper {
    max-width: 320px;

    @media (min-width: 768px) {
      max-width: 360px;
    }

    @media (min-width: 1024px) {
      max-width: none;
    }
  }

  .form {
    position: relative;
    margin-top: 50px;

    @media (min-width: 1024px) {
      max-width: 740px;
      margin: 0;
    }
  }
}

.bottom-decoration {
  width: 559px;
  height: 498px;
  max-width: 478px;
  max-height: 380px;
  margin: -158px auto -57px;
  z-index: 0;

  @media (min-width: 768px) {
    max-width: none;
    margin: -187px auto 34px;
  }

  @media (min-width: 1024px) {
    position: absolute;
    top: -142px;
    right: -220px;
    margin: 0;
  }

  @media (min-width: 1280px) {
    top: -154px;
    right: -74px;
  }

  svg {
    transform: translateX(-58px);

    @media (min-width: 768px) {
      transform: translateX(-77px);
    }

    @media (min-width: 1024px) {
      transform: none;
    }
  }
}

.social-links {
  display: grid;
  grid-template-columns: repeat(3, 36px);
  justify-content: center;
  align-content: start;
  gap: 12px;
  max-width: 506px;
  min-height: 124px;
  padding-top: 18px;
  margin: 0 auto;
  list-style: none;
  background: url("../images/social-button-bg.png") center top no-repeat;
  background-size: 184px;

  @media (min-width: 768px) {
    gap: 12px;
    align-content: center;
    max-width: 506px;
    min-height: 174px;
    padding-left: 4px;
    margin-top: 20px;
    background: url("../images/social-button-bg.png") center bottom no-repeat,
      url("../images/social-button-arrow.png") left center no-repeat;
    background-size: 200px, 150px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 44px);
    gap: 15px;
    max-width: 650px;
    min-height: 200px;
    padding-left: 7px;
    margin-top: 50px;
    background-size: auto;
  }
}

.up-button {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 14px;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background: var(--background-color) url("../images/arrow-up.png") center
    center no-repeat;
  background-size: 12px 36px;
  cursor: pointer;
  z-index: 9;

  .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../images/text-up.svg") center center no-repeat;
    background-size: contain;
  }
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 90px;
  padding: 73px 43px 57px;
  background-color: var(--primary-color);
  z-index: 9;

  @media (max-width: 1023px) {
    width: 204px;
    height: 204px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 52px 27px;
  }

  .close-button {
    position: absolute;
    top: 12px;
    right: 13px;

    @media (max-width: 1023px) {
      width: 23px;
      height: 23px;
      top: 9px;
      right: 10px;
    }
  }

  img {
    max-width: none;

    @media (max-width: 1023px) {
      max-width: 149px;
    }
  }
}

.hidden {
  display: none;
}

.show-tiny {
  @media (max-width: 767px) {
    display: block;
  }
}

.show-small {
  @media (min-width: 768px) and (max-width: 1023px) {
    display: block;
  }
}

.show-medium {
  @media (min-width: 1024px) {
    display: block;
  }
}

.show-large {
  @media (min-width: 1280px) {
    display: block;
  }
}

.hidden-tiny {
  @media (max-width: 767px) {
    display: none;
  }
}

.hidden-small {
  @media (min-width: 768px) and (max-width: 1023px) {
    display: none;
  }
}

.hidden-medium {
  @media (min-width: 1024px) {
    display: none;
  }
}

.hidden-large {
  @media (min-width: 1280px) {
    display: none;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 871.5px;
    stroke-dasharray: 871.5px;
  }

  100% {
    stroke-dashoffset: 1743px;
    stroke-dasharray: 871.5px;
  }
}

.svg-elem-1 {
  animation: animate-svg-stroke-1 1s ease-in 0s both;
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 23.991148575128552px;
    stroke-dasharray: 23.991148575128552px;
  }

  100% {
    stroke-dashoffset: 47.982297150257104px;
    stroke-dasharray: 23.991148575128552px;
  }
}

.svg-elem-2 {
  animation: animate-svg-stroke-2 1s ease-in 0.12s both;
}

@keyframes animate-svg-stroke3-1 {
  0% {
    stroke-dashoffset: 212.5px;
    stroke-dasharray: 212.5px;
  }

  100% {
    stroke-dashoffset: 425px;
    stroke-dasharray: 212.5px;
  }
}

.svg-elem3-1 {
  animation: animate-svg-stroke3-1 1s ease-in 0s both;
}

@keyframes animate-svg-stroke3-2 {
  0% {
    stroke-dashoffset: 23.991148575128552px;
    stroke-dasharray: 23.991148575128552px;
  }

  100% {
    stroke-dashoffset: 47.982297150257104px;
    stroke-dasharray: 23.991148575128552px;
  }
}

.svg-elem3-2 {
  animation: animate-svg-stroke3-2 1s ease-in 0.12s both;
}

@keyframes animate-svg-stroke4-1 {
  0% {
    stroke-dashoffset: 276px;
    stroke-dasharray: 276px;
  }

  100% {
    stroke-dashoffset: 552px;
    stroke-dasharray: 276px;
  }
}

.svg-elem4-1 {
  animation: animate-svg-stroke4-1 1s ease-in 0s both;
}

@keyframes animate-svg-stroke4-2 {
  0% {
    stroke-dashoffset: 23.991148575128552px;
    stroke-dasharray: 23.991148575128552px;
  }

  100% {
    stroke-dashoffset: 47.982297150257104px;
    stroke-dasharray: 23.991148575128552px;
  }
}

.svg-elem4-2 {
  animation: animate-svg-stroke4-2 1s ease-in 0.12s both;
}

@keyframes animate-svg-stroke5-1 {
  0% {
    stroke-dashoffset: 174.92352294921875px;
    stroke-dasharray: 174.92352294921875px;
  }

  100% {
    stroke-dashoffset: 349.8470458984375px;
    stroke-dasharray: 174.92352294921875px;
  }
}

.svg-elem5-1 {
  animation: animate-svg-stroke5-1 1s ease-in 0s both;
}

@keyframes animate-svg-stroke5-2 {
  0% {
    stroke-dashoffset: 23.991148575128552px;
    stroke-dasharray: 23.991148575128552px;
  }

  100% {
    stroke-dashoffset: 47.982297150257104px;
    stroke-dasharray: 23.991148575128552px;
  }
}

.svg-elem5-2 {
  animation: animate-svg-stroke5-2 1s ease-in 0.12s both;
}

@keyframes animate-svg-stroke6-1 {
  0% {
    stroke-dashoffset: 344.5px;
    stroke-dasharray: 344.5px;
  }

  100% {
    stroke-dashoffset: 689px;
    stroke-dasharray: 344.5px;
  }
}

.svg-elem6-1 {
  animation: animate-svg-stroke6-1 1s ease-in 0s both;
}

@keyframes animate-svg-stroke6-2 {
  0% {
    stroke-dashoffset: 23.991148575128552px;
    stroke-dasharray: 23.991148575128552px;
  }

  100% {
    stroke-dashoffset: 47.982297150257104px;
    stroke-dasharray: 23.991148575128552px;
  }
}

.svg-elem6-2 {
  animation: animate-svg-stroke6-2 1s ease-in 0.12s both;
}

@keyframes animate-svg-stroke7-1 {
  0% {
    stroke-dashoffset: 23.991148575128552px;
    stroke-dasharray: 23.991148575128552px;
  }

  100% {
    stroke-dashoffset: 47.982297150257104px;
    stroke-dasharray: 23.991148575128552px;
  }
}

.svg-elem7-1 {
  animation: animate-svg-stroke7-1 1s ease-in 0s both;
}

@keyframes animate-svg-stroke7-2 {
  0% {
    stroke-dashoffset: 366.24627685546875px;
    stroke-dasharray: 366.24627685546875px;
  }

  100% {
    stroke-dashoffset: 732.4925537109375px;
    stroke-dasharray: 366.24627685546875px;
  }
}

.svg-elem7-2 {
  animation: animate-svg-stroke7-2 1s ease-in 0.12s both;
}

@keyframes animate-svg-stroke8-1 {
  0% {
    stroke-dashoffset: 663.1942138671875px;
    stroke-dasharray: 663.1942138671875px;
  }

  100% {
    stroke-dashoffset: 1326.388427734375px;
    stroke-dasharray: 663.1942138671875px;
  }
}

.svg-elem8-1 {
  animation: animate-svg-stroke8-1 1s ease-in 0s both;
}

@keyframes animate-svg-stroke8-2 {
  0% {
    stroke-dashoffset: 23.991148575128552px;
    stroke-dasharray: 23.991148575128552px;
  }

  100% {
    stroke-dashoffset: 47.982297150257104px;
    stroke-dasharray: 23.991148575128552px;
  }
}

.svg-elem8-2 {
  animation: animate-svg-stroke8-2 1s ease-in 0.12s both;
}

@keyframes animate-svg-menu-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(219, 0, 255);
  }
}

.svg-menu-1 {
  animation: animate-svg-menu-1 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.6s
    both;
}

@keyframes animate-svg-menu-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(219, 0, 255);
  }
}

.svg-menu-2 {
  animation: animate-svg-menu-2 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.7s
    both;
}

@keyframes animate-svg-menu-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(219, 0, 255);
  }
}

.svg-menu-3 {
  animation: animate-svg-menu-3 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.8s
    both;
}

@keyframes animate-svg-menu-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(219, 0, 255);
  }
}

.svg-menu-4 {
  animation: animate-svg-menu-4 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.9s
    both;
}

@keyframes animate-svg-icons-line-1 {
  0% {
    stroke-dashoffset: 23.991148575128552px;
    stroke-dasharray: 23.991148575128552px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 23.991148575128552px;
  }
}

.svg-icons-line-1 {
  animation: animate-svg-icons-line-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s
    both;
}

@keyframes animate-svg-icons-line-2 {
  0% {
    stroke-dashoffset: 257.4577941894531px;
    stroke-dasharray: 257.4577941894531px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 257.4577941894531px;
  }
}

.svg-icons-line-2 {
  animation: animate-svg-icons-line-2 1s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.12s both;
}
